html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: lightgray;
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.sidebar {
  margin-left: 20px;
}

.sidebar h5 {
  margin: 0px;
}
